body{
font-family: Arial;
background:#f4f6f9;
padding:40px;
}

table{
width:70%;
margin:auto;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border:1px solid #ddd;
text-align:center;
}

.bar-container{
width:100%;
background:#0ae928;
border-radius:20px;
}

.bar{
height:22px;
border-radius:20px;
color:white;
font-size:12px;
text-align:center;
}

.excellent{
background:green;
}

.good{
background:lightgreen;
}

.normal{
background:yellow;
color:black;
}

.bad{
background:red;
}